#job1, #job2, #job3, #job4 {
    height: 80px;
    width: 500px;
    background: #63517a;
    padding: 25px;
    margin: 5px;
    text-align: center;
}

#job2 {
    height: 233px;
}

#job4 {
    height: 400px;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    margin-left: 777px;
}