* {
    text-align: center;

}

h3 {
    margin-top:  25px;
    margin-bottom: 25px;
}

h4 {
    
    text-align: left;
}

.form-control:focus {
    background-color: lightgreen;
}

.result {
    background: grey;
    color: aliceblue;
    font-weight: 600;
}

pre {
    text-align: left;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.blue {
    color: darkblue;
}

.lightBlue {
    color: deepskyblue;
}

.orange {
    color: #f36d33;
}

.comment {
    color: #999;
}