* {
    margin: 0;
    padding: 0;
    background: #2e353d;
}

.menuButton {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
}

.menuButton:hover {
    background: #009641;
}

#game {
    border-collapse: collapse;
    margin: 2% auto 0;
}

#score-wrap {
    height: 11px;
    width: 275px;
    line-height: 35px;
    margin: 0 auto;
    color: white;
}

#score {
    display: inline-block;
    width: 25px;
}
#lives-wrap {
    color: crimson;
    letter-spacing: 5px;
}
#menu {
    display: flex;
    justify-content: center;
}

td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
    color: #eee;
    text-align: center;
}

.food {
    background: #00d021;
}

.brick {
    background: darkgoldenrod;
}

.snakeBody {
    background: #e5e5e5;
}

.snakeHead {
    background: #9b0013;
}

.disabled {
    background: #7c7c7c;
}

.disabled:hover {
    background: #7c7c7c;
}