.slider {
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.show-full-img {
	width: 100%;
	position: relative;
}

.slider__thumbs {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.slider__img {
	cursor: pointer;
	width: 19%;
}

.slider-nav span{
	width: 0;
	height: 0;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	opacity: .5;
	transition: opacity .3s ease;
}

.slider-nav span:hover{
	opacity: 1;
}

.prev {
	left: 4px;
	top: 37%;
	border-right: 15px solid white;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.next {
	right: 4px;
	top: 37%;
	border-left: 15px solid white;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.catalog {
	display: flex;
	flex-direction: column;
	width: 960px;
	margin: 0 auto;
}

.product-item {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.product-item p {
    margin-left: 30px;
}

.btn-buy {
	cursor: pointer;
}

.price {
    margin-left: auto;
    margin-right: 30px;
}

.cart {
	width: 960px;
	margin: 0 auto;
}

.cartItems li:nth-child(2n) {
	background-color: #eee;
}
