html, body {padding: 0;margin: 0;}
* {box-sizing: border-box;}
body {background: #ddd; padding: 50px;}
canvas {
  background: black;
  margin: 0 auto;
  display: block;
}
.title {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
}
nav {
  position: absolute;
  top: 130px;
  left: 220px;
  font-size: 36px;
  background-color: rgba(0,0,0,.7);
  border-radius: 6px;
  padding: 0 50px 0 25px;
}
.play {
  color: red;
  background-color: black;
  box-shadow: 0px 0px 1px #fff, 5px 10px 18px #000;
  padding: 1px 8px;
  margin: 15px 0;
}