body {
	height: 100vh;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 100%;
	width: 100%;
}

	.main {
		background: url("images/background.jpg") no-repeat center;
		background-size: contain;
		align-content: center;
		display: flex;
		flex: 1 0 auto;
		flex-flow: row wrap;
		justify-content: space-around;
		height: 100%;
		max-height: 600px;
		max-width: 800px;
	}

		.main__btnStart-block {
			align-items: center;
			display: flex;
			flex: 0 0 70%;
			flex-flow: row nowrap;
			justify-content: center;
			margin-top: 50px;
		}

			.main__btnStart {
				align-items: center;
				background: url("images/buttonStart.png") no-repeat center #06202a;
				background-size: contain;
				border: none;
				border-radius: 50%;
				box-shadow: 0 0 25px 10px #06202a;
				cursor: pointer;
				flex: 0 0 auto;
				height: 200px;
				width: 200px;
				outline: none;
			}

			.main__btnStart:active {
				box-shadow: 0 0 25px 15px #06202a;
			}

		.main__sumTable-block {
			flex: 0 0 30%;
			margin-top: 50px;
		}
				.main__sumTable {
					border-collapse: collapse;
				}

					.main-sumTable__now {
						background: #ffd88d;
					}

					.main-sumTable__win {
						background: #7bb01d;
					}

					.main__sumTable td {
						color: #ffcd8d;
						padding: 0 10px;
					}

					.main-sumTable__unfire td {
						color: white;
					}

		.main__quest-block {
			box-sizing: border-box;
			align-items: center;
			display: flex;
			flex: 0 0 100%;
			flex-flow: row wrap;
			justify-content: center;
			padding: 30px 50px 10px;
		}

			.main__questBoard {
				align-items: center;
				background: url("images/insert.png") no-repeat center;
				background-size: contain;
				box-sizing: border-box;
				display: flex;
				flex: 0 0 100%;
				height: 70px;
				margin-bottom: 15px;
			}

				.main-questBoard__question {
					box-sizing: border-box;
					color: aliceblue;
					flex: 0 0 100%;
					padding: 0 60px;
					width: inherit;
				}

			.main__questVar {
				background: url("images/insert.png") no-repeat center;
				background-size: contain;
				box-sizing: border-box;
				cursor: pointer;
				display: inline-block;
				flex: 0 0 50%;
				height: 50px;
			}

				.main__questVar>p {
					color: aliceblue;
					padding: 0 40px;
				}