body {
	height: 100vh;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 100%;
	width: 100%;
}

	.main {
		background: url("images/Dibrov.png") no-repeat left black;
		background-size: contain;
		align-content: center;
		border: 5px solid #090b13;
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		justify-content: space-around;
		position: relative;
		height: 600px;
		width: 800px;
	}

		/* верхняя панель с информацией для пользователя + подсказки */
		.user-block {
			box-sizing: border-box;
			align-items: center;
			display: flex;
			flex: 0 0 100%;
			flex-flow: row nowrap;
			justify-content: space-around;
			height: 50px;
			padding: 0 40px;
		}

			.user__name {
				box-sizing: border-box;
				flex: 1 0 auto;
				padding: 0 5px;
			}

				.user__name p{
					color: aliceblue;
				}

			.user__score {
				box-sizing: border-box;
				flex: 1 0 auto;
				padding: 0 5px;
			}

				.user__score p{
					color: aliceblue;
				}

			.user__total {
				box-sizing: border-box;
				flex: 1 0 auto;
				padding: 0 5px;
			}

				.user__total p{
					color: aliceblue;
				}

			.user__hints {
				align-items: center;
				box-sizing: border-box;
				display: flex;
				flex: 0 0 200px;
				flex-flow: row nowrap;
				justify-content: space-around;
				padding: 0 5px;
			}

				.user__hint-hall {
					border: none;
					cursor: pointer;
					flex: 0 0 auto;
					height: 40px;
					width: 60px;
					outline: none;
				}

					.user__hint-hall_no-used {
						background: url("images/buttonHall.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-hall_used {
						background: url("images/buttonHallUsed.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-hall:hover {
						height: 44px;
						width: 66px;
					}

					.user__hint-hall:active {
						height: 40px;
						width: 60px;
					}

				.user__hint-fifty {
					border: none;
					cursor: pointer;
					flex: 0 0 auto;
					height: 40px;
					width: 60px;
					outline: none;
				}

					.user__hint-fifty_no-used {
						background: url("images/buttonFifty.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-fifty_used {
						background: url("images/buttonFiftyUsed.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-fifty:hover {
						height: 44px;
						width: 66px;
					}

					.user__hint-fifty:active {
						height: 40px;
						width: 60px;
					}

				.user__hint-friend {
					border: none;
					cursor: pointer;
					flex: 0 0 auto;
					height: 40px;
					width: 60px;
					outline: none;
				}

					.user__hint-friend_no-used {
						background: url("images/buttonFriend.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-friend_used {
						background: url("images/buttonFriendUsed.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-friend:hover {
						height: 44px;
						width: 66px;
					}

					.user__hint-friend:active {
						height: 40px;
						width: 60px;
					}

		/* центральный блок для кнопок уравления и ведущего с сообщениями */
		.main__show-block {
			align-items: center;
			display: flex;
			flex: 0 0 75%;
			flex-flow: row nowrap;
			justify-content: flex-end;
			margin-top: 25px;
		}

			/* Cообщения от ведущего и кнопка начала игры*/
			.main__show-control {
				align-items: flex-end;
				display: flex;
				flex: 0 0 60%;
				flex-flow: column nowrap;
				justify-content: space-between;
				height: 100%;
			}

				/* блок с сообщениями */
				.main-show__control-message-block {
					align-items: center;
					background: url("images/showman_massege.png") no-repeat right;
					background-size: contain;
					display: flex;
					flex: 0 0 auto;
					flex-flow: row wrap;
					height: 75%;
					justify-content: center;
					width: 100%;
				}

					.main-show__control-message {
						align-items: center;
						box-sizing: border-box;
						display: flex;
						flex: 0 0 auto;
						flex-flow: row wrap;
						font-size: 0.9rem;
						height: 75%;
						justify-content: center;
						padding: 10px 0 10px 75px;
						width: 100%;
					}

						.main-show-control-message__p {
							color: aliceblue;
							flex: 0 0 80%;
							font-size: 1rem;
							margin-bottom: 10px;
							padding: 0 20px;
							text-align: center;
						}

							.main-show-control-message__p .span1 {
								font-size: 0.7rem;
							}

							.main-show-control-message__p .span2 {
								font-size: 1.3rem;
							}

						.main-show-control-message__input {
							flex: 0 0 auto;
							margin: 0 30px 10px;
						}

							.main-show-control-message__input_fail {
								background: rgba(227, 0, 20, 0.75);
							}

						.main-show-control-message__button-block {
							align-items: center;
							display: flex;
							flex: 0 0 auto;
							flex-flow: row nowrap;
							justify-content: center;
							height: 25px;
						}

							.main-show-control-message__button {
								background: url("images/buttonTakeMoney.png") no-repeat center;
								background-size: cover;
								border: none;
								border-radius: 10px;
								cursor: pointer;
								color: aliceblue;
								flex: 0 0 auto;
								height: 20px;
								margin: 0 3px;
								outline: none;
								width: 60px;
							}

								.main-show-control-message__button:hover {
									border-radius: 11px;
									height: 21px;
									width: 63px;
								}

								.main-show-control-message__button:active {
									border-radius: 10px;
									height: 20px;
									width: 60px;
								}


					.main-show__control-block {
						align-items: flex-end;
						display: flex;
						flex: 0 0 25%;
						flex-flow: row nowrap;
						justify-content: flex-end;
						margin-right: 20px;
						width: 65%;
					}

						.main-show__control-btnStart {
							background: url("images/buttonTakeMoney.png") no-repeat center;
							background-size: cover;
							border: none;
							border-radius: 10px;
							color: aliceblue;
							cursor: pointer;
							flex: 0 0 auto;
							font-size: 0.8rem;
							height: 30px;
							width: 120px;
							outline: none;
						}

							.main-show__control-btnStart:hover {
								border-radius: 11px;
								height: 31px;
								width: 124px;
							 }

							.main-show__control-btnStart:active {
								border-radius: 10px;
								height: 30px;
								width: 120px;
							}

		/* блок с таблицей выйгрыша */
		.main__sumTable-block {
			flex: 0 0 25%;
			margin: 25px 0;
		}
				.main__sumTable {
					border-collapse: collapse;
				}

					.main-sumTable__now {
						background: #a95400;
					}

					.main-sumTable__win {
						background: #21811d;
					}

					.main__sumTable td {
						color: #ffcd8d;
						padding: 0 10px;
					}

					.main-sumTable__nofire td {
						color: white;
					}

		/* Блок с вопросами и ответами */
		.main__quest-block {
			box-sizing: border-box;
			align-items: center;
			display: flex;
			flex: 0 0 100%;
			flex-flow: row wrap;
			justify-content: center;
			padding: 10px 50px;
		}

			.main__questBoard {
				align-items: center;
				background: url("images/insert.png") no-repeat center;
				background-size: contain;
				box-sizing: border-box;
				display: flex;
				flex: 0 0 100%;
				height: 70px;
				margin-bottom: 15px;
			}

				.main-questBoard__question {
					box-sizing: border-box;
					color: aliceblue;
					flex: 0 0 100%;
					padding: 0 60px;
					width: inherit;
				}

			.main__questVar {
				display: inline-block;
				flex: 0 0 50%;
				height: 50px;
			}

				.main__questVar_bgBlue {
					background: url("images/insert.png") no-repeat center;
					background-size: contain;
				}

				.main__questVar_bgYellow {
					background: url("images/insert_yellow.png") no-repeat center;
					background-size: contain;
				}

				.main__questVar_bgGreen {
					background: url("images/insert_green.png") no-repeat center;
					background-size: contain;
				}

				.main__questVar_clickable {
					cursor: pointer;
				}

				.main__questVar>p {
					box-sizing: border-box;
					color: aliceblue;
					padding: 0 40px;
				}