body {
	height: 100vh;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 100%;
	width: 100%;
}

	.main {
		background: url("images/background.jpg") no-repeat center;
		background-size: contain;
		align-content: center;
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		justify-content: space-around;
		position: relative;
		height: 600px;
		width: 800px;
	}

		.user-block {
			box-sizing: border-box;
			align-items: center;
			display: flex;
			flex: 0 0 100%;
			flex-flow: row nowrap;
			justify-content: space-around;
			height: 50px;
			padding: 0 40px;
		}

			.user__name {
				flex: 1 0 auto;
			}

				.user__name p{
					color: aliceblue;
				}

			.user__score {
				flex: 1 0 auto;
			}

				.user__score p{
					color: aliceblue;
				}

			.user__total {
				flex: 1 0 auto;
			}

				.user__total p{
					color: aliceblue;
				}

			.user__hints {
				align-items: center;
				display: flex;
				flex: 0 0 200px;
				flex-flow: row nowrap;
				justify-content: space-around;
			}

				.user__hint-hall {
					border: none;
					cursor: pointer;
					flex: 0 0 auto;
					height: 40px;
					width: 60px;
					outline: none;
				}

					.user__hint-hall_no-used {
						background: url("images/buttonHall.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-hall_used {
						background: url("images/buttonHallUsed.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-hall:hover {
						height: 44px;
						width: 66px;
					}

					.user__hint-hall:active {
						height: 40px;
						width: 60px;
					}

				.user__hint-fifty {
					border: none;
					cursor: pointer;
					flex: 0 0 auto;
					height: 40px;
					width: 60px;
					outline: none;
				}

					.user__hint-fifty_no-used {
						background: url("images/buttonFifty.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-fifty_used {
						background: url("images/buttonFiftyUsed.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-fifty:hover {
						height: 44px;
						width: 66px;
					}

					.user__hint-fifty:active {
						height: 40px;
						width: 60px;
					}

				.user__hint-friend {
					border: none;
					cursor: pointer;
					flex: 0 0 auto;
					height: 40px;
					width: 60px;
					outline: none;
				}

					.user__hint-friend_no-used {
						background: url("images/buttonFriend.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-friend_used {
						background: url("images/buttonFriendUsed.png") no-repeat center;
						background-size: contain;
					}

					.user__hint-friend:hover {
						height: 44px;
						width: 66px;
					}

					.user__hint-friend:active {
						height: 40px;
						width: 60px;
					}

		.main__btnStart-block {
			align-items: center;
			display: flex;
			flex: 0 0 75%;
			flex-flow: row nowrap;
			justify-content: center;
			margin-top: 25px;
		}

			.main__btnStart {
				align-items: center;
				background: url("images/buttonStart.png") no-repeat center #06202a;
				background-size: contain;
				border: none;
				border-radius: 50%;
				box-shadow: 0 0 25px 10px #06202a;
				cursor: pointer;
				flex: 0 0 auto;
				height: 200px;
				width: 200px;
				outline: none;
			}

			.main__btnStart:active {
				box-shadow: 0 0 25px 15px #06202a;
			}

		.main__sumTable-block {
			flex: 0 0 25%;
			margin-top: 25px;
		}
				.main__sumTable {
					border-collapse: collapse;
				}

					.main-sumTable__now {
						background: #a95400;
					}

					.main-sumTable__win {
						background: #21811d;
					}

					.main__sumTable td {
						color: #ffcd8d;
						padding: 0 10px;
					}

					.main-sumTable__nofire td {
						color: white;
					}

		.main__quest-block {
			box-sizing: border-box;
			align-items: center;
			display: flex;
			flex: 0 0 100%;
			flex-flow: row wrap;
			justify-content: center;
			padding: 30px 50px 10px;
		}

			.main__questBoard {
				align-items: center;
				background: url("images/insert.png") no-repeat center;
				background-size: contain;
				box-sizing: border-box;
				display: flex;
				flex: 0 0 100%;
				height: 70px;
				margin-bottom: 15px;
			}

				.main-questBoard__question {
					box-sizing: border-box;
					color: aliceblue;
					flex: 0 0 100%;
					padding: 0 60px;
					width: inherit;
				}

			.main__questVar {
				display: inline-block;
				flex: 0 0 50%;
				height: 50px;
			}

				.main__questVar_bgBlue {
					background: url("images/insert.png") no-repeat center;
					background-size: contain;
				}

				.main__questVar_bgYellow {
					background: url("images/insert_yellow.png") no-repeat center;
					background-size: contain;
				}

				.main__questVar_bgGreen {
					background: url("images/insert_green.png") no-repeat center;
					background-size: contain;
				}

				.main__questVar_clickable {
					cursor: pointer;
				}

				.main__questVar>p {
					box-sizing: border-box;
					color: aliceblue;
					padding: 0 40px;
				}

			.main__win-block {
				align-items: center;
				background: rgba(6, 32, 41, 0.3);
				display: flex;
				justify-content: center;
				position: absolute;
				height: 100%;
				width: 100%;
			}

				.main__win {
					align-items: center;
					background: #06202a;
					border: #02020b;
					border-radius: 20px;
					box-sizing: border-box;
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
					height: 200px;
					width: 300px;
					padding: 50px;
				}

				.main__win p {
					color: #baffff;
					flex: 0 0 100%;
					margin-bottom: 20px;
				}

				.main__win button {
					border: #02020b;
					border-radius: 5px;
					color: #02020b;
					flex: 0 0 50px;
				}