html, body {padding: 0;margin: 0;}
* {box-sizing: border-box;}
body {background: #3a3a3a; padding: 50px;}
canvas {
  background: black;
  margin: 0 auto;
  display: block;
}
#score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 900px;
  cursor: pointer;
}
h2 {
  color: #545454;
  font-size: 36px;
  font-weight: 600;
}
h3 {
  color: #545454;
  font-size: 40px;
  font-weight: bolder;
}
